.introForm {
  margin: 100px;
}

.welcome {
  padding-top: 150px;
  text-align: center;
  background-color: skyblue;
  padding-bottom: 50px;
}

.welcome h3 {
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.welcome Button {
  margin-top: 100px;
  width: 250px;
  height: 100px;
}

.loginform {
  background-color: skyblue;
  padding-top: 50px;
  padding-bottom: 50px;
}

.loginform h1 {
  text-align: center;
}